:root {
    /*Paleta de colores claros*/
    --white--l: #ffffff;
    --dark--gray--l: #746f6b;
    --light--gray--l: #c6c2b9;
    --text--input--field: #f5f3f4;
    --text--input--field2: #f7f7f7;
    --black--l: #030708;

    /*paleta de colores oscuro*/
    --white--d: #f8f8f8;
    --black--d: #080808;
    --light--gray--d: #6a6a6a;
    --dark--gray--d: #393939;


    /*Paleta de colores de Manjaro*/
    --green--m: #34be5b;
    --black--m: #111111;
    --light--gray--m: #8c8c8c;
    --white--m: #fcfefd;
    --dark--gray--m: #444444; 

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text--input--field);
}

/*index*/
.index--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.index--logo {
    width: 250px;
    height: auto;
    margin-bottom: 40px;
}

.index--main{
    margin: 0 auto;
    padding: 20px;
}

.index--main .message{
    color: red;
    font-size: var(--sm);
    margin-bottom: 10px;
    text-align: center;
}

.index--main form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 260px;
    height: auto
}

.index--main form label {
    font-size: var(--sm);
    color: var(--black--l);
    font-weight: bold;
    margin-bottom: 4px;

}

.index--main form input {
    background-color: var(--text--input--field);
    font-size: var(md);
    border: none;
    border-radius: 8px;
    padding: 6px;
    height: 40px;
    margin-bottom: 12px;
}

.index--main .index--btn--primary {
    background-color: var(--dark--gray--m);
    color: var(--text--input--field);
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    width: 100%;
    margin-top: 14px;
}


/*New--pass*/
.new--pass--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.new--pass--logo {
    width: 250px;
    height: auto;
    margin-bottom: 5px;
}

.new--pass--main {    
    padding: 20px;
}

.new--pass--main--section--upper {
    text-align: center;
    margin-bottom: 30px;
}

.new--pass--main--section--upper h1 {
    font-size: var(--lg);
}

.new--pass--main--section--upper p {
    font-size: var(--sm);
    color: var(--dark--gray--l);
}

.new--pass--main--section--lower{
    margin: 0 auto;
    width: 260px;
    height: auto;
}

.new--pass--main--section--lower form {
    display: flex;
    flex-direction: column;
}

.new--pass--main--section--lower form label {
    font-size: var(--sm);
    color: var(--black--l);
    font-weight: bold;
    margin-bottom: 4px;

}

.new--pass--main--section--lower form input {
    background-color: var(--text--input--field);
    font-size: var(md);
    border: none;
    border-radius: 8px;
    padding: 6px;
    height: 40px;
    margin-bottom: 12px;
}

.new--pass--main--section--lower .new--pass--btn--primary {
    background-color: var(--dark--gray--m);
    color: var(--text--input--field);
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    width: 100%;
    margin-top: 14px;
}

/* Search ficha*/

.search--ficha--body{
    position: relative;
    width: 100%;
    height: 100vh;
}

.search--ficha--color-opaco {
    background-color: rgba(8, 8, 8, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0vh;
    display: none;
}

.search--ficha--header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--dark--gray--m);
    color: var(--text--input--field);
}

.search--ficha--i--menu {
    font-size: 30px;
}

.search--ficha--nav {
    display: none;
    font-size: var(--md);
    font-weight: bold;
    line-height: 45px;
    background-color: var(--dark--gray--m);
    border-radius: 15px 15px 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    width: 100%;
    height: 45vh;
    z-index: 1;
}

.search--ficha--nav a {
    display: flex;
    width: 100%;

}

.search--ficha--nav .icon {
    display: flex;
    width: 15%;
    height: auto;
    justify-content: center;
    align-items: center;
}

hr {
    width: 35px;
    height: 5px;
    margin: 0 auto 10px auto;
    background-color: var(--text--input--field);
    border: none;
    border-radius: 5px;
}

.search--ficha--header h2 {
    align-self: center;
    font-size: var(--lg);
}

.search--ficha--main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.search--ficha--slider {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #f0f0f0;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.search--ficha--slider--article{
    position: relative;
    scroll-snap-align: center;
    background-color: var(--dark--gray--m);
    color: var(--text--input--field);
    width: 70%;
    height: auto;
    max-width: 300px;
    min-width: 260px;
    padding: 8px;
    margin: auto 0;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(89, 73, 38, 0.16);
}

.search--ficha--slider--article h3 {
    text-align: center;
    font-size: var(--md);
    font-weight: 500;
}

.search--ficha--slider--i--div{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--dark--gray--m);
    border: 0;
    border-radius: 6px;
}


.search--ficha--slider--i--div i {
    float: right;
    font-size: 25px;
    margin: 8px 8px;
}

.search--ficha--slider--i {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    font-size: 20px;
    margin: 8px;
}
/*
.search--ficha--slider--i--div--b {
    display: block;
}

.prueba{
    display:  block !important;
}

.search--ficha--slider--i--c {
    display: none;
}
*/
.search--ficha--slider--i--div img{
    display: block;
    width: 75%;
    height: auto;
    margin-top: 35px;
    margin-left: 30px;
    margin-bottom: 25px;
    
}

.img-computer {
    display: block;
    margin: 10px auto 0;
    width: 90%;
    height: auto;
    border: 0;
    border-radius: 4px;
}

.search--ficha--btn--primary--card {
    font-size: var(--sm);
    border: none;
    border-radius: 4px;
    padding: 6px;
    height: 40px;
    margin-bottom: 12px;
    background-color: var(--light--gray--d);
    color: var(--text--input--field);
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    cursor: pointer;
    width: 100%;
    margin-top: 14px;
}

.search--ficha--main form{
    margin: 0 auto;
    width: 260px;
    height: auto;
}

.search--ficha--position {
    position: relative;
}

.search--ficha--main form label {
    font-size: var(--sm);
    color: var(--black--l);
    font-weight: bold;
    margin-bottom: 4px;

}

.search--ficha--main form input {
    background-color: var(--text--input--field);
    font-size: var(md);
    border: none;
    border-radius: 8px;
    padding: 6px;
    height: 40px;
    margin-bottom: 12px;
}

.search--ficha--input--codigo {
    width: 77%;
}

.search--ficha--i--search {
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 10px;

}

.search--ficha--main .search--ficha--btn--primary {
    background-color: var(--dark--gray--m);
    color: var(--text--input--field);
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    width: 100%;
    margin-top: 14px;
}

/*new_maintenance*/


.new--maintenance--header{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: var(--dark--gray--m);
}

.new--maintenance--movile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.new--maintenance--desktop {
    display: none;
}

.new--maintenance--movile li a i {
    font-size: 15px;
}

.new--maintenance--main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 74vh;
}

.new--maintenance--container {
    width: 100%;
    height: 100%;
    padding: 5%;
    overflow-y: scroll;
}

.new--maintenance--btn--primary--guardar {
    position: absolute;
    bottom: -25px;
    background-color: var(--dark--gray--m);
    color: var(--text--input--field);
    width: 70%;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: var(--sm);
}

.new--maintenance--container section {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.new--maintenance--container h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.new--maintenance--container section label {
    display: inline-block;
    font-size: var(--sm);
    color: var(--black--l);
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    text-align: start;
}

.new--maintenance--main section input {
    background-color: var(--text--input--field);
    font-size: var(md);
    border: none;
    border-radius: 8px;
    padding: 6px;
    width: 100%;
    height: 40px;
    margin-bottom: 12px;
}

.logico {
    margin-bottom: 25px;
}

.new--maintenance--btn--primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    color: var(--dark--gray--d);
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: var(--sm);
    margin-bottom: 1px;
}

.cambio {
    background-color: #444444;
    color: #f5f3f4;
}

.cambio--icon--circle {
    display: none !important;
}

.cambio--icon--check{
    display: block !important; 
}

.check--circle--i {
    display: none;
}

.circle--i {
    display: block;
    color: #c6c2b9;
}

/*record*/


.record-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.record--section {
    width: 90%;
    margin-bottom: 50px;
}

.record--btn--primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    color: var(--dark--gray--d);
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: var(--sm);
    margin-bottom: 1px;
}

.record-main section h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.record-main section label {
    display: inline-block;
    font-size: var(--sm);
    color: var(--black--l);
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    text-align: start;
}

.pdfview {
    display: none;
    width: 90%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 50px;
}

.generate--pdf a {
    color: var(--dark--gray--d);
    width: 100%;
}

.record--detalle--de--mantenimiento {
    display: none;
}

@media (min-width: 600px) {

    /*Search_ficha_tecnica*/

    .search--ficha--i--menu {
        display: none;
    }

    hr {
        display: none;
    }

    .search--ficha--header {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 0;
    }

    .search--ficha--header h2{
        order: 1;
        color: var(--black--l);
        margin-top: 30px;
    }

    .search--ficha--nav{
        display: block;
        background-color: var(--dark--gray--m);
        font-size: var(--md);
        font-weight: bold;
        color: var(--white--l);
        position: static;
        border-radius: 0 0 0 0 ;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .search--ficha--nav .icon{
        display: none;
    }

    .search--ficha--header nav ul {
        display: flex;
        justify-content: center;
    }

    .search--ficha--header nav ul li {
        margin: 15px;
    }

    .search--ficha--slider {
        width: 100%;
        height: 350px;
    }
    
    .search--ficha--slider article {
        width: 250px;
        height: auto;
    }

    .search--ficha--slider--i--div img{
        margin-top: 4rem;
        margin-left: 3rem;
    }

    /*New_manteinance*/

    .new--maintenance--body {
        display: grid;
        grid-template-columns: 0.6fr 3.4fr;
    }

    .new--maintenance--header{
        position: static;
    }

    .new--maintenance--header nav {
        height: 100%;
    }

    .new--maintenance--desktop {
        display: block;
        height: 50vh;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 10px;
    }

    .new--maintenance--desktop li{
        margin-top: 20px;
        
    }

    .new--maintenance--desktop li a {
        font-size: var(--lg);
    }

    .new--maintenance--movile {
        display: none;
    }

    .new--maintenance--main {
        width: 100%;
        height: 100%;
    }

    .new--maintenance--container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        padding: 20px;
        overflow: hidden;
    }

    .new--maintenance--container section h2 {
        margin-top: 10px;
    }

    .new--maintenance--btn--primary--guardar {
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: 200px;
    }

    /*Record*/
    .record--body {
        display: grid;
        grid-template-columns: 0.6fr 3.4fr;
        gap: 15px;
    }
    
    .record-main {
        display: grid;
        grid-template-columns: 0.6fr 2.4fr;
        align-self: flex-start;
        align-items: flex-start;
        gap: 15px;
    }

    .record--section{
        width: 100%;
    }

    .pdfview {
        margin-top: 20px;
        display: block;
        width: 98%;
        height: 100vh;
        border-radius: 20px;
    }

    .record--detalle--de--mantenimiento {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
        gap: 15px;
        width: 100%;
        display: none;
    }
    
    .record--detalle--de--mantenimiento h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .record--detalle--de--mantenimiento label {
        display: inline-block;
        font-size: var(--sm);
        color: var(--black--l);
        font-weight: bold;
        margin-top: 10px;
        width: 100%;
        text-align: start;
    }
    
    .record--label--input--detail {
        font-size: var(md);
        border: none;
        border-bottom: 1px solid var(--dark--gray--d);
        padding: 6px;
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
    }

    .record--btn--primary--detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--dark--gray--d);
        width: 100%;
        height: auto;
        border: none;
        border-bottom: 1px solid var(--dark--gray--d);
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: var(--sm);
        margin-bottom: 15px;
        background-color: white;
    }
}
