:root {
    /*Paleta de colores claros*/
    --white--l: #ffffff;
    --dark--gray--l: #746f6b;
    --light--gray--l: #c6c2b9;
    --text--input--field: #f5f3f4;
    --text--input--field2: #f7f7f7;
    --black--l: #030708;

    /*paleta de colores oscuro*/
    --white--d: #f8f8f8;
    --black--d: #080808;
    --light--gray--d: #6a6a6a;
    --dark--gray--d: #393939;


    /*Paleta de colores de Manjaro*/
    --green--m: #34be5b;
    --black--m: #111111;
    --light--gray--m: #8c8c8c;
    --white--m: #fcfefd;
    --dark--gray--m: #444444; 

    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

/*index*/
.index--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.index--logo {
    width: 250px;
    height: auto;
    margin-bottom: 40px;
}

.index--main{
    margin: 0 auto;
    padding: 20px;
}

.index--main .message{
    color: red;
    font-size: var(--sm);
    margin-bottom: 10px;
    text-align: center;
}

.index--main form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 260px;
    height: auto
}

.index--main form label {
    font-size: var(--sm);
    color: var(--black--l);
    font-weight: bold;
    margin-bottom: 4px;

}

.index--main form input {
    background-color: var(--text--input--field);
    font-size: var(md);
    border: none;
    border-radius: 8px;
    padding: 6px;
    height: 40px;
    margin-bottom: 12px;
}

.index--main .index--btn--primary {
    background-color: var(--dark--gray--d);
    color: var(--text--input--field);
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    width: 100%;
    margin-top: 14px;
}


/*New--pass*/
.new--pass--body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.new--pass--logo {
    width: 250px;
    height: auto;
    margin-bottom: 5px;
}

.new--pass--main {    
    padding: 20px;
}

.new--pass--main--section--upper {
    text-align: center;
    margin-bottom: 30px;
}

.new--pass--main--section--upper h1 {
    font-size: var(--lg);
}

.new--pass--main--section--upper p {
    font-size: var(--sm);
    color: var(--dark--gray--l);
}

.new--pass--main--section--lower{
    margin: 0 auto;
    width: 260px;
    height: auto;
}

.new--pass--main--section--lower form {
    display: flex;
    flex-direction: column;
}

.new--pass--main--section--lower form label {
    font-size: var(--sm);
    color: var(--black--l);
    font-weight: bold;
    margin-bottom: 4px;

}

.new--pass--main--section--lower form input {
    background-color: var(--text--input--field);
    font-size: var(md);
    border: none;
    border-radius: 8px;
    padding: 6px;
    height: 40px;
    margin-bottom: 12px;
}

.new--pass--main--section--lower .new--pass--btn--primary {
    background-color: var(--dark--gray--l);
    color: var(--text--input--field);
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    width: 100%;
    margin-top: 14px;
}
